.jumbotron {
  padding-top: 6rem;
  background-image: url(IMG/hero.jpg);
}

#projects {
  background-color: #bcc8d6;
}

section {
  padding-top: 5rem;
}
#navbarText a:hover {
  background-color: salmon;
}
footer a {
  color: #7a7b7c;
  text-decoration: none;
}
